# GET STARTED WITH JUPYTER NOTEBOOK

## LEARNING OBJECTIVES
* WRITE AND TEST A PYTHON CODE
* WHAT IS MARKDOWN?
* FORMAT TEXT IN JUPYTER NOTEBOOK WITH MARKDOWN
* SECTION HEADERS
* LISTS
* BOLD AND ITALICIZE
* HIGHLIGHT CODE
* HORIZONTAL LINES (RULES)
* HYPERLINKS
* RENDER IMAGES

### Write and test a python code

In code cells, you can write Python code, then execute the Python code and see the resulting output. An example of a code cell is shown below.

In [1]:
a= 2
b= 5
c= a+b
print(c)

7

### What is Markdown?

`Markdown` is a human readable syntax (also referred to as a markup language) for formatting text documents. `Markdown` can be used to produce nicely formatted documents including PDFs and web pages.

When you format text using Markdown in a document, it is similar to using the format tools (e.g. bold, heading 1, heading 2) in a word processing tool like Microsoft Word or Google Docs. However, instead of using buttons to apply formatting, you use syntax such as `**this syntax bolds text in markdown**` or `# Here is a heading`.

Markdown syntax allows you to format text in many ways, such as making headings, bolding and italicizing words, creating bulleted lists, adding links, formatting mathematical symbols and making tables. These options allow you to format text in visually appealing and organized ways to present your ideas.

You can use Markdown to format text in many different tools including GitHub.com, R using RMarkdown, and Jupyter Notebook, which you will learn more about this tutorial.

### Markdown in Jupyter Notebook

A great benefit of `Jupyter Notebook` is that it allows you to combine both code (e.g. Python) and `Markdown` in one document, so that you can easily document your workflows.

A `Jupyter Notebook` file uses cells to organize content, and it can contain both cells that render text written using the `Markdown` syntax as well as cells that contain and run `Python` code.

Thus, you can use a combination of `Markdown` and `Python` code cells to organize and document your `Jupyter Notebook` for others to easily read and follow your workflow.

### Benefits of Markdown for Data Science

Being able to include both `Markdown` and code (e.g. Python) cells in a `Jupyter Notebook` file supports reproducible science by allowing you to:

* Document your workflow: You can add text to the document that describes the steps of your processing workflow (e.g. how data is being processed and what results are produced).
* Describe your data: You can describe the data that you are using (e.g. source, pre-processing, metadata).
* Interpret code outputs: You can add some text that interprets or discusses the outputs.all in one document!

When used effectively, Markdown documentation can help anyone who opens your Jupyter Notebook to follow, understand and even reproduce your workflow.

### Format Text in Jupyter Notebook with Markdown
#### Markdown Cells in Jupyter Notebook
The following describe how to add new `Markdown` cells to your `Jupyter Notebook` files using Menu tools and Keyboard Shortcuts to create new cells.

Function|	Keyboard Shortcut|	Menu Tools
--------|----------------|--------------|
Create new cell|	Esc + a (above), Esc + b (below)|	Insert→ Insert Cell Above OR Insert → Insert Cell Below
Copy Cell|	c|	Copy Key
Paste Cell|	v|	Paste Key

You can also change the default type of the cell by clicking in the cell and selecting a new cell type (e.g. Markdown) in the cell type menu in the toolbar. Furthermore, in a Jupyter Notebook file, you can double-click in any Markdown cell to see the syntax, and then run the cell again to see the Markdown formatting.

In the following, you will learn basic Markdown syntax that you can use to format text in Jupyter Notebook files.

### Section Headers
You can create a heading using the pound (#) sign. For the headers to render properly, there must be a space between the # and the header text.

Heading one is denoted using one # sign, heading two is denoted using two ## signs, etc, as follows:

In [2]:
## Heading Two

### Heading Three

#### Heading Four

Here is a sample of the rendered Markdown:

### Heading Three

#### Heading Four

### Lists
You can also use Markdown to create lists using the following syntax:

* This is a bullet list
* This is a bullet list
* This is a bullet list


1. And you can also create ordered lists
2. by using numbers
3. and listing new items in the lists 
4. on their own lines

Notice that you have space between the `*` or `1`. and the text. The space triggers the action to create the list using `Markdown`.

### Bold and Italicize
You can also use `**` to bold or `*` to italicize words. To bold and italicize words, the symbols have to be touching the word and have to be repeated before and after the word using the following syntax:

*These are italicized words, not a bullet list*
**These are bold words, not a bullet list**

* **This is a bullet item with bold words**
* *This is a bullet item with italicized words*

### Highlight Code
If you want to highlight a function or some code within a plain text paragraph, you can use one backtick on each side of the text like this:

`Here is some code!`

The symbol used is the backtick, or grave; not an apostrophe (on most US keyboards, it is on the same key as the tilde (~)).

### Horizontal Lines (Rules)
You can also create a horizontal line or rule to highlight a block of `Markdown` syntax (similar to the highlighting a block of code using the backticks):

***

Here is some important text!

***

### Hyperlinks
You can also use HTML in Markdown cells to create hyperlinks to websites using the following syntax:
<a href="url" target="_blank">hyperlinked words</a> 
You can identify the words that will be hyperlinked (i.e. prompt a web page to open when clicked) by replacing hyperlinked words in the example above.
For example, the following syntax:
the `10academy` website can be found at <a href="https://www.10academy.org/" target="_blank">this link</a>.
will render as follows with this link as the hyperlinked words

### Render Images
You can also use `Markdown` to link to images on the web using the following syntax:
![alt text here](url-to-image-here)
The alt text is the alternative text that appears if an image fails to load on webpage; it is also used by screen-reading tools to identify the image to users of the screen-reading tools.
For example, the following syntax will display the markdown image:
![Markdown Logo is here.](https://www.fullstackpython.com/img/logos/markdown.png)

### Local Images Using Relative Computer Paths
You can also add images to a `Markdown` cell using relative paths to files in your directory structure using:
![alt text here](path-to-image-here)
For relative paths (images stored on your computer) to work in `Jupyter Notebook`, you need to place the image in a location on your computer that is RELATIVE to your `.ipynb file`. This is where good file management becomes extremely important.
For a simple example of using relative paths, imagine that you have a subdirectory named images in your `jupyter_codes directory` `(i.e. jupyter_codes/images/)`.
If your Jupyter Notebook file (.ipynb) is located in root of this directory `(i.e. jupyter_codes/notebook.ipynb)`, and all images that you want to include in your report are located in the images subdirectory `(i.e. jupyter_codes/images/)`, then the path that you would use for each image is:
`images/image-name.png`
If all of your images are in the images subdirectory, then you will be able to easily find them. This also follows good file management practices because all of the images that you use in your report are contained within your project directory.

# Challenge

#### Conditional statement: 
Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [3]:
# Try here
test_number_1 = int(input("Enter the first number: "))
test_number_2 = int(input("Enter second number: "))

sum_int = test_number_1 + test_number_2

if (15 < sum_int < 20):
    print(20)
else:
    print(sum_int)

Enter the first number: 7
Enter second number: 10
20

#### Function:
Write a Python function to sum all the numbers in a list. Go to the editor
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [4]:
# Try here

def sum_list(sample_list):
    list_sum = 0
    for num in sample_list:
        list_sum += num
    return list_sum

sum_list([8, 2, 3, 0, 7])

20

#### Lambda:
Write a Python program to extract year, month, date and time using Lambda.

In [5]:
# Try here

from datetime import datetime
today = datetime.today()

year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
time = lambda x: x.time()

print(year(today))
print(month(today))
print(day(today))
print(time(today))

2020
6
29
20:49:09.501744

#### SQLite Database
Write a Python program to create a SQLite database and connect with the database and print the version of the SQLite database.

Notes: 
* conda install -c blaze sqlite3 will install sqlite3 (do it in your anaconda prompt)   
* Allows the use of a sqlite database: `import sqlite3` to use the module.
* Connection to an existing database or to create:
    * con = sqlite3.connect ('myFile.db') : create a connection.
    * con.close () : close the connection.
    * con.commit () : commits transactions.
    * con.rollback () : rollback transactions.
* Execution of orders:
    * we create a cursor, we execute the order and we close the cursor:
    * cur = con.cursor ()
    * cur.execute ('create table myTable (x integer, y text)')
    * cur.close ()

In [6]:
# Try here
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
        
    except Error as e:
        print(e)
    
    finally:
        if conn:
            conn.close()
            
if __name__ == '__main__':
    create_connection('myFile.db')

2.6.0

#### CSV read and write
Write a Python program to read a given CSV file having tab delimiter.

In [7]:
# Try here

from csv import reader

file = open('Countries.txt')
read_file = reader(file)
file_list = list(read_file)

file_list[:9]

[['country_id|country_name|region_id'],
 ['AR|Argentina|2'],
 ['AU|Australia|3'],
 ['BE|Belgium|1'],
 ['BR|Brazil|2'],
 ['CA|Canada|2'],
 ['CH|Switzerland|1'],
 ['CN|China|3'],
 ['DE|Germany|1']]

Write a Python program to write a Python list of lists to a csv file. After writing the CSV file read the CSV file and display the content. 
* consider these data : data = [[10,'a1', 1], [12,'a2', 3], [14, 'a3', 5], [16, 'a4', 7], [18, 'a5', 9]]

In [9]:
import csv
data_list = [[10,'a1', 1], [12,'a2', 3], [14, 'a3', 5], [16, 'a4', 7], [18, 'a5', 9]]   #the list of list

with open('innovators.csv', 'w', newline='') as file:     #reading it into a csv file
    writer = csv.writer(file)
    writer.writerows(data_list)
    
#displaying the csv file as a list of list
file = open('innovators.csv')
read_file = reader(file)
file_list = list(read_file)

file_list

[['10', 'a1', '1'],
 ['12', 'a2', '3'],
 ['14', 'a3', '5'],
 ['16', 'a4', '7'],
 ['18', 'a5', '9']]

#### Numpy
Write a NumPy program to get the indices of the sorted elements of a given array.
Use student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])

In [10]:
# Try here
import numpy as np

student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])
p = np.argsort(np.argsort(student_id))

print(p)

[0 4 6 1 2 5 3]

#### Pandas
Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
Sample Python dictionary data and list labels:
* exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
* labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] can serve as index for the dataframe

In [18]:
# Try here
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
import pandas as pd
exam_data_pd = pd.DataFrame(exam_data)
exam_data_pd.index = labels
exam_data_pd[['name','score']]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

References: 
* <a href="https://www.w3resource.com/" target="_blank">w3resource</a>
* <a href="https://www.python-simple.com/" target="_blank">python-simple</a>
* <a href="https://www.earthdatascience.org/" target="_blank">earthdatascience</a>