## PostgreSQL Project
In this project, I will be analyzing the 2019 10 Academy learners activity in the Moodle Learning Management System. The moodle LMS is a highly scalable framework, and all students activities are stored in a highly structured database.

The Moodle LMS is a free and open-source learning management system written in PHP and distributed under the GNU General Public License . It is used for blended learning, distance education, flipped classroom and other e-learning projects in schools, universities, workplaces and other sectors.

I will explore the 10 Academy Moodle logs stored in the database together with many other relevant tables. And by the end of the analysis, I will build a Tableau dashboard that illustrates the progress of students across time.

In [1]:
%load_ext sql

In [2]:

from sqlalchemy import create_engine
# connect to database
%sql postgresql://postgres:OGUNFowora1998@localhost/moodle1

'Connected: postgres@moodle1'

In [9]:
import pandas as pd

In [3]:
#connecting sqlalchemy to the database

engine = create_engine('postgresql://postgres:OGUNFowora1998@localhost/moodle1')

In [41]:
x = %sql \d

 * postgresql://postgres:***@localhost/moodle1
894 rows affected.

In [52]:
#determining number of tables
len(pd.read_sql_query('SELECT * FROM pg_stat_user_tables', engine))

448

In [54]:
from pandas import DataFrame
x = DataFrame(x)

In [60]:
x.head(10)

        0                                        1         2         3
0  public             mdl_analytics_indicator_calc     table  postgres
1  public      mdl_analytics_indicator_calc_id_seq  sequence  postgres
2  public                     mdl_analytics_models     table  postgres
3  public              mdl_analytics_models_id_seq  sequence  postgres
4  public                 mdl_analytics_models_log     table  postgres
5  public          mdl_analytics_models_log_id_seq  sequence  postgres
6  public            mdl_analytics_predict_samples     table  postgres
7  public     mdl_analytics_predict_samples_id_seq  sequence  postgres
8  public         mdl_analytics_prediction_actions     table  postgres
9  public  mdl_analytics_prediction_actions_id_seq  sequence  postgres

In [61]:
len(x[x[2] == 'table'])

448

So, there are 448 tables in the database.